body {
    background-color: beige;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
}

.container {
    width: max-content;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card{
    width: 300px;
    height: 100px;
    margin: 10px;
    box-shadow: 0px 6px 20px black;
    text-align: center;
    justify-content: center;
    background-color: rgb(155, 191, 226);
    transition: 0.3s ease-out;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.card:hover{
transform: scale(1.07);
background-color: rgba(0, 0, 255, 0.482);

}

.card .hover-text {
    display: none;
}

.card:hover .text {
    display: none;
}

.card:hover .hover-text{
    display: block;
}

.animation{
    animation: animateTitle 4s infinite alternate;
}

@keyframes animateTitle{
    from {
        color:grey;
        transform: scale(1);
    }
    50% {
        color:rgb(155, 191, 226);
        transform: scale(1.2);
    }
    to {
        color:rgba(0, 0, 255, 0.482);
        transform: scale(1);
    }
}
